/* style.css */

/* Fondo de la página */
body {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
}

/* Fondo de los widgets */
.stSelectbox, .stButton, .stHeader, .stSubheader, .stTextInput, .stImage {
    background-color: #8FBC8F; /* Verde claro */
}

/* Texto de los widgets */
.stSelectbox > div, .stButton > div, .stHeader > div, .stSubheader > div, .stTextInput > div, .stImage > div {
    color: #2E8B57; /* Verde oscuro */
}

/* Fondo de los selectores */
.css-1d391kg {
    background-color: #D2B48C; /* Marrón claro */
}

/* Texto de los selectores */
.css-1d391kg .css-1p9a4ka, .css-1d391kg .css-2vtrri, .css-1d391kg .css-15tx938 {
    color: #2E8B57; /* Verde oscuro */
}

/* Estilo para el mapa de folium */
.stMarkdown iframe {
    border: 5px solid #8B4513; /* Marrón */
}

/* Estilo para el panel de leyenda */
.legend-container {
    background-color: #2E8B57; /* Verde oscuro */
    color: black; /* Texto blanco */
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    z-index: 1000;
}

